# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/01_hello_world/nbproject/private/
/01_hello_world/build/
/01_hello_world/dist/
/02_exercise/nbproject/private/
/02_exercise/build/
/03_exercise/nbproject/private/
/03_exercise/build/
/04_arraylist/nbproject/private/
/04_arraylist/build/
/05_simple_form/nbproject/private/
/05_simple_form/build/
/06_form_table_generator/nbproject/private/
/06_form_table_generator/build/
/07_simple_login/nbproject/private/
/07_simple_login/build/
/08_file_upload/nbproject/private/
/08_file_upload/build/